PORT=8080
ENV=development

# Connexion PostgreSQL (Ajuste selon tes identifiants local/docker)
DB_HOST=localhost
DB_PORT=5432
DB_USER=aurion
DB_PASSWORD=aurion_secret_pass
DB_NAME=aurion_db
DB_SSLMODE=disable
JWT_SECRET=d5sd7hrehueruysfeuyfuifzueifgGHKSELDHUDBSVWGQIZIETEJSHHS555542215878965220478523698412325dczuycree5r2e82ree